{% extends 'bootstrap4.html' %}r
{% load static %}
{% load widget_tweaks %}

{% block head %}
    <title>Hello</title>
    <link rel="stylesheet" href="{% static 'main/css/login_signin.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid w-100 p-0 m-0">

        <div class="row h-100 w-100 p-0 m-0 align-content-center justify-content-center">
            <div class="row col-sm-8 col-md-6 col-lg-4  text-center text-light border border-secondary rounded-top bg-info shadow-lg">
                <figure class="logo col-12 figure mt-3">
                    <img src="{% static 'general/img/logo.png' %}" class="figure-img img-fluid rounded" alt="cup_logo.png">
                    <figcaption class="figure-caption text-light"><h1 class="text-dark"><span>GA</span>LLARIA</h1></figcaption>
                </figure>
                <h2 class="col-12">Login</h2>
                <form class="row col" method="post">
                    {{ form.username|attr:'placeholder:username'|add_class:'col-9 offset-2 mt-2 shadow-sm' }}
                    {{ form.password|attr:'placeholder:password'|add_class:'col-9 offset-2 mt-2 shadow-sm' }}
                    {% csrf_token %}

                    <p class="col-12"><small>New user? <a href="{% url 'sign_in' %}">join us</a></small></p>
                    <input name="submit" id="submit" class="col-auto offset-5 mt-2 btn btn-dark rounded-0" type="submit" value="submit">
                </form>
            </div>

        </div>

    </div>
{% endblock %}