@import "fonts.css";
@import "siderbar.css";
@import "buttons.css";

*{
    font-family: 'MyriadPro bold', sans-serif;
    color: #7e7d7e;
}

.logo span{
    color: #d66cb7;
}

.logo{
    font-size: 38pt;
}

.about p{
    font-size: 12pt;
}

.about p, .about h1{
    font-family: 'MyriadPro regular', sans-serif; !important;
}

.about h1{
    font-size: 26pt;
}

nav, .icon-text{
    font-size: 20pt;
}
