.icon-bg{
    width: 40px;
    height: 40px;
    background-color: #7e7d7e;
    border-radius: 50%;
}

.current, .tags .btn.active{
    background-color: #6dbad6; !important;
}

.current .icon-text, .tags .btn.active{
    color: white; !important;
}

.current .icon-bg{
    background-color: white;
}

.tags .btn{
    font-family: 'MyriadPro regular', sans-serif;
    background-color: #eaeaea;
    color: #7e7d7e;
    font-size: 12pt;
}
