{% load static %}
<div id="main-content" class="px-5">
        <div class="col-auto">
            <h2 class="title">Last Content</h2>
        </div>

        <div id="player" class="border"></div>
        <div class="row w-100 mx-0 mt-2 p-0 border" style="background-color: #dedfdf;">

            <div class="col-auto">
                <p class="description">Lorem ipsum dolor sit amet.</p>
            </div>

            {% include 'user/like_history.html' with width='12' height='12' likes='150' days_ago='3day ago' %}
        </div>
        <span class="url d-none">{% static 'general/test.mp4' %}</span>

    <div class="row">
        {% include 'user/buttons_view.html' %}
    </div>
</div>


<div class="row">
    {% include 'user/card.html' with card_name='video' title='Video Title' description='Video description' src='static/general/test2.mp4' likes='999' days_ago='3 days ago'%}
    {% include 'user/card.html' with card_name='video' title='Video Title' description='Video description' src='static/general/test.mp4' likes='20' days_ago='3 days ago'%}
    {% include 'user/card.html' with card_name='video' title='Video Title' description='Video description' src='static/general/test.mp4' likes='10' days_ago='3 days ago'%}
    {% include 'user/card.html' with card_name='video' title='Video Title' description='Video description' src='static/general/test2.mp4' likes='40' days_ago='3 days ago'%}
    {% include 'user/card.html' with card_name='video' title='Video Title' description='Video description' src='static/general/test.mp4' likes='80' days_ago='3 days ago'%}
    {% include 'user/card.html' with card_name='video' title='Video Title' description='Video description' src='static/general/test2.mp4' likes='15' days_ago='3 days ago'%}
    {% include 'user/card.html' with card_name='video' title='Video Title' description='Video description' src='static/general/test.mp4' likes='99' days_ago='3 days ago'%}
    {% include 'user/card.html' with card_name='video' title='Video Title' description='Video description' src='static/general/test2.mp4' likes='10' days_ago='3 days ago'%}
</div>

<script src="{% static 'general/js/playerjs.js' %}"></script>
<script>
    var player = new Playerjs({id:"player", file:"{% static 'general/test.mp4' %}"});
</script>