{% load static %}
{% load random %}
<div class="video card flex-row flex-wrap col-10 offset-1 p-0 mt-5">

    <div class="col-auto card-header border-0 p-0 m-0" onclick="changeVideo(this)">
        <img class="position-absolute" src="{% static 'general/img/video_icon.png' %}" alt="" style="margin-top:25%;margin-left:-30px;">
        <img class="position-absolute" src="{% static 'general/img/video_play_icon.png' %}" alt="" style="margin-top: 30%;margin-left: 40%;">
        <img class="w-100" src="{% random_bg_color %}" alt="bg color">
    </div>

    {% include 'user/card_content.html' with title=title  description=description src=src %}

</div>

<script>
    var player = new Playerjs({id:"player", file:"{% static 'general/test.mp4' %}"});
</script>