{% load static %}
<div id="main-content" class="px-5">
    {% if main_post %}

        <div class="col-auto">
            <h2 class="title">{{ main_post.title }}</h2>
        </div>

        <img src="{{ main_post.file.url }}" class="img-fluid" alt="image name">

        <div class="row w-100 mx-0 mt-2 p-0 border" style="background-color: #dedfdf;">

            <div class="col-auto">
                <p class="description">{{ main_post.description }}</p>
            </div>

            {% include 'user/like_history.html' with width='12' height='12' likes=main_post.likes days_ago=main_post.created %}
        </div>
        <span class="url d-none">{{ main_post.file.url }}</span>
    {% else %}
        <p>No post yet</p>
    {% endif %}
    <div class="row">
        {% if creator %}
            {% include 'user/add_post_form.html' %}
        {% endif %}
        {% include 'user/buttons_view.html' %}
    </div>

</div>


<div class="row">

    {% for post in posts %}
        {% include 'user/card.html' with card_name='image' likes=post.likes days_ago=post.created title=post.title src=post.file.url description=post.description %}
    {% endfor %}

</div>